body {
	background-repeat : repeat-x;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
}

div.container
{
	width: 900px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	border-collapse: collapse;
	background-repeat: repeat-y;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-bottom: 0px;
}

div.banner
{
	width: 900px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 150px;
}

div.naviguation
{
	width: 850px;
	height: 35px;
	text-align: center;
	margin: auto;
	background-repeat: no-repeat;
	padding-top: 2px;
	font-weight: bold;
	font-size: 12pt;
}

div.main
{
	padding-left: 5px;
	padding-right: 5px;
}

div.colonne
{
	width: 180px;
	text-align: center;
	float: left;
}

div.colonne_top
{
	height: 25px;
	width: 180px;
	font-weight: bold;
	font-size: 13pt;
	vertical-align: center;
}
div.colonne_main
{
	width: 180px;
	background-repeat: repeat-y;
	padding: 3px;
	font-size: 10.1pt;
}
div.colonne_end
{
	width: 180px;
	height: 25px;
	
	background-repeat: no-repeat;
	
	padding: 0px;
	margin: 0px;
}

div.mainbox
{
	float: left;
	width: 680px;
	height: auto;
	text-align: center;
	margin: 0px;
	margin-left: 20px;
	padding: 0px;
}

div.footer
{
	width: 900px;
	text-align: center;
	font-size: 11pt;
	border-top: 1px solid black;
	background-color: #620;
	color: #fff;
}
div.footer a
{
	color: #d20;
}

/*   ------------- LES TABLEUX ---------- */
	/*   GRAND BOUCLIER   */
	table.newtable {
		width:660px;
		border: 0px;
		border-collapse: collapse;
		text-align: center;
	}
		td.newtitre {
			width:660px;
			font-weight: bold;
			padding: 5px 0px;
			text-align: center;
			line-height: 20px;
			height: 40px;
		}
		td.newcontenu {
			width:660px;
			font-size: 14px;
			padding: 5px 5px;
			text-align: center;
		}
		td.newfin {
			width:660px;
			height: 27px;
			font-size: 14px;
			padding: 0px 5px;
			text-align: center;
		}
	
	/*    TALEAUX  INTERNES    */
	table.newsmalltable {
		width: 600px;
		border: none;
		margin-left:auto;
		margin-right:auto;
		border-collapse: collapse;
	}
	table.newsmalltable th {
		text-align: center;
		border: 1px solid black;
		font-weight: bold;
		font-size: 11pt;
	}

	table.newsmalltable td {
		/*background: #CECECE;*/
		text-align: left;
		font-size: 10.5pt;
		border: 1px solid black;
		padding: 1px 4px;
	}
	table.shootbox {
		width:560px;
		border: none;
		text-align: left;
		min-width: 560px;
	}

	/* TABLEAU GENERAL D'AFFICHAGE */
	/*table.maintable {
		width:790px;
		border:0px;
	}
	td.colonne{
		width:160px;
		border-collapse:collapse;
		max-width:160px;
		/*border-right: 1px solid black;
		padding: 2px;
		margin: 0px;
	}
	td.header {
		width: 780px;
		/*background-color:#DDDDDD;
		/*border: 1px solid #0D0D0D;
		min-width: 800px;
		font-size: 12px;
	}
	td.footer {
		width: 780px;
		background-color:#DDDDDD;
		border: 1px solid #0D0D0D;
		min-width: 800px;
		font-size: 12px;
	}
	td.mainbox{
		background-color:#EFEFEF;
		width:auto;
	}*/

/*    DIV    (Boites de naviguation)   */
/*div.petiteboite {
	width:160px;
	border: 1px black;
	border-collapse: collapse;
	text-align: center;
}
	div.petittitre {
		font-weight: bold;
		background:url(images/css/v4/entetepetit.png);
		height: 30px;
		max-height: 30px;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		line-height: 30px;
	}
	div.petitcontenu {
		background: url(images/css/v4/contenupetit.png);
		font-size: 13px;
		text-align: center;
	}	
	div.petitefin {
		background: url(images/css/v4/baspetit.png);
		height: 27px;
		text-align: center;
		font-size: 13px;
	}*/


/*    TEXT ET MISE EN FORME   */
span.titre {
	font-weight: bold;
	font-size: 14px;
}
span.info {
	color : red ;
	font-weight: italic;
	font-size: 12px;
	font-family: Arial,Helvetica;
}
span.avert {
	color : red ;
	font-weight: bold;
}
img {
	border: 0px;
}


/*    FORMULAIRES    */
textarea {
	border: 1px dotted #000;
	background: #E2E2E2;
}
input {
	border: 1px dotted #000;
	background: #E2E2E2;
}
select {
	/*border: 1px dotted #000;*/
	background: #E2E2E2;
}
form
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

hr 
{
	/*border: 1px solid black;*/
	background-color: #000;
	margin: 6px;
}


/*     LIENS ET LEURS PARAMÈTRES      */
a:link {color:#b20; text-decoration:none;}
a:hover {color:#b20; text-decoration:none;}
a:visited {color:#b20; text-decoration:none;}
a:active {color:#b20; text-decoration:none;}



h2 {
	height: 25px;
	font-size: 16pt;
	font-family: Fantasy, Serif, monospace;
	margin: 4px;
}

h3 {
	height: 20px;
	font-size: 12pt;
	font-family: "Sans Cursive", Serif, monospace;
}


/* MODE DEBUG (admin seulement) */
div.requete {/* Les requêtes */
	background: white;
	font-size: 12px;
	width: 14px;
	height: 12px;
	border: 1px black solid;
	color: black;
	margin-right:2px;
	overflow: hidden;
	float: left;	
}

div.requete:hover {
	width: auto;
	height: auto;
	overflow: show;
	margin-right: 2px;
}

fieldset
{
	border: 1px solid black;
}

legend
{
	font-weight: bold;
}

label {
	display:block;
	width:250px;
	text-align: left;
	float: left;
	margin: 0px;
	padding: 0px;
}